/* CSS Rule */

/* h1 -> selector */
/* color -> css property */
/* red -> css value */
/* color: red; -> css declaration */
/* h1 {
    color: red;
} -> CSS Rule */

h1 {
  color: red;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}
