* {
  color: black;
  background-color: lightgreen;
}
.grid {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1px;
  grid-auto-rows: 200px;
  background-color: lightblue;
  color: purple;
  text-align: center;
}
.heading {
  padding: 0;
  display: flex;
  text-align: center;
  color: blue;
}
.one {
  background-color: pink;
}
.two {
  background-color: yellow;
}
.three {
  background-color: greenyellow;
}
.four {
  background-color: green;
}
.five {
  background-color: pink;
}
.six {
  background-color: red;
  text-align: center;
}
.p {
  background-color: pink;
}
.p2 {
  background-color: greenyellow;
}
.banana-text {
  background-color: yellow;
}
.footer {
  text-align: center;
  padding: 5px 10px;
  background-color: blue;
  color: white;
}
.ford {
  background-color: red;
}
