*{
    margin: 0%;
}
.container{
    background-color: #0a13b4;
    height: 600px;
    width: 400px;
    display: flexbox;
    border-radius: 10%;
    align-content: centers;
    box-shadow: 0 0 0 2em #f4aab9, 0 0 0 4em #66ccff;
    margin: 4em;
    padding: 1em;
    
    
}
